body {background-color: white; color: black;}
.navbar {text-align: center; position: sticky;}
h1 {text-align: center;}
h2 {text-align: center;}
h3 {text-align: center;}
h4 {text-align: center;}
p {text-align: center;}
img {display: block; margin-left: auto; margin-right: auto; background-blend-mode:normal;}
ol {align: center;}
header {background-color: darkgrey; border-style: ridge; border-width: 3px; color: black;}
#navbar {position: sticky; top: 0; overflow: hidden;}
