body {background-color: white; color: black;}
.navbar {text-align: center;}
h1 {text-align: center;}
h2 {text-align: center;}
h3 {text-align: center;}
h4 {text-align: center;}
p {text-align: center;}
img {display: block; margin-left: auto; margin-right: auto;}
ol {align: center;}